.container_with_header {
  padding-top: 80px;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.container {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}