.container {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  max-width: 768px;
  height: 65px;

  box-shadow: 0px 5px 10px -10px #000000;
}

.left {
  flex: 1;
  margin-left: var(--margin-left);
  text-align: start;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  margin-right: var(--margin-right);
  text-align: end;
}

.main_logo {
  height: 40px;
}

.text_logo {
  height: 30px;
}

.menubutton {
  height: 30px;
  width: 30px;
  background-color: #0000;
  border: none;
  border-radius: 0;
  padding: 0;
}